@use 'sass:color';
@use './tokens' as *;

/* ---------- Typography variables ---------- */
@font-face {
    font-family: 'SkylineBeachNbpRegular';
    src: url('../public/fonts/SkylineBeachNbpRegular-qmrd.ttf');
}

@font-face {
    font-family: 'CascadiaCode';
    src: url('../public/fonts/CascadiaCode.ttf');
}

// Font families
$display_font: 'SkylineBeachNbpRegular', sans-serif;
$heading_font: 'CascadiaCode', monospace;
$paragraph_font: 'CascadiaCode', monospace;
$button_font: 'CascadiaCode', monospace;

// Font weights
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;

// Font styles
$font_italic: italic;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), ui-sans-serif, system-ui;
}

/* ---------- Typography styles ---------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading_font;
    font-weight: $font_regular;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: $header_1;
}

h2 {
    font-size: $header_2;
}

h3 {
    font-size: $header_3;
}

h4 {
    font-size: $header_4;
}

h5 {
    font-size: $header_5;
}

h6 {
    font-size: $header_6;
}

p {
    font-size: $paragraph;
    font-family: $paragraph_font;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

a {
    font-size: $paragraph;
    font-family: $button_font;
    font-weight: $font_medium;
    width: fit-content;
    cursor: pointer;
}

// ---------- Typography classes ----------
.display_font {
    font-family: $display_font;
    text-transform: capitalize;
}

.paragraph_small {
    font-size: $paragraph_small;
}

.paragraph_tiny {
    font-size: $paragraph_tiny;
}

.button_font {
    font-family: $paragraph_font;
    font-size: $paragraph_small;
    font-weight: $font_light;
}

.header_1 {
    font-size: $header_1;
}

.header_2 {
    font-size: $header_2;
}

.header_3 {
    font-size: $header_3;
}

.header_4 {
    font-size: $header_4;
}

.header_5 {
    font-size: $header_5;
}

.header_6 {
    font-size: $header_6;
}

.paragraph {
    font-size: $paragraph;
}

.paragraph_small {
    font-size: $paragraph_small;
}

.paragraph_tiny {
    font-size: $paragraph_tiny;
}